.container {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1.5px solid #283044;
}

.navlinks {
    width: 30vw;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
}

.button {
    color: #283044;
}

.imagecontainer {
    width: 20vw;
    height: 10vh;
    position: relative;
}